<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <title>YouTubeLiveコメント取得</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr-2.8.3")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("アプリケーション名", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("コメント取得画面", "Home", "Home")</li>
                    @*<li>@Html.ActionLink("詳細", "About", "Home")</li>*@
                    <li>@Html.ActionLink("このサイトについて", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="navbar-fixed-bottom text-right" style="z-index:0;">
            <a href="https://www.youtube.com/channel/UC4R8DWoMoI7CAwX8_LjQHig" onclick="window.open('https://www.youtube.com/channel/UC4R8DWoMoI7CAwX8_LjQHig', 'Live配信中', 'width=1280,height=720,noopener'); return false;"><img src="https://user-images.githubusercontent.com/46675984/123852492-549eaf80-d957-11eb-8fec-6babc9e41e91.png" style="width:150px"></a>
            <p>&copy; @DateTime.Now.Year <a href="https://github.com/naonao0001777">Created by nao</a></p>
        </div>
    </footer>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
