@model WebApplication1.Models.LiveChatModelList
@{
    ViewBag.Title = "Result";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/extras/jquery.metadata.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap.min.js"></script>*@

    <style type="text/css">
        .loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,.5);
            background-image: url('https://user-images.githubusercontent.com/46675984/123852276-14d7c800-d957-11eb-88f4-515d290b6597.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: 100px 100px;
            z-index: 9999;
        }
        .userThumbnail{
            text-decoration: none;
        }

        /*#searchclear {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: floralwhite;
            background-image: url(../../Content/img/batu_icon.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 14px 14px;
        }*/
    </style>
</head>
<body>
    <h2>結果</h2>
    <h3>@ViewBag.Message</h3>

    <div>
        @Html.Encode(ViewData["postData"])を検索しました。
    </div>
    <br>
    <div>
        <span>テーブルを検索</span>
    </div>
    <div>
        <span>
            <input type="text" id="searchTxt" placeholder="キーワード入力" />
        </span>
        <span>
            <input type="button" id="searchComment" value="コメント検索" />
        </span>

        <span>
            <input type="button" id="searchUser" value="ユーザー検索" />
        </span>
        <span>
            <input type="button" id="clear" value="クリア" />
        </span>
    </div>

    @if (!ViewBag.errFlg)
    {
        int count;
        <div class="table-responsive">
            <table border="1" class="table table-striped table-condensed" id="table">
                <thead>
                    <tr class="bg-primary">
                        <th>#No.</th>
                        <th>投稿した時刻</th>
                        <th>ユーザ名</th>
                        <th>コメント</th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.ChatList.Count(); i++)
                {
                    count = i + 1;
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => count)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.ChatList[i].ChatDateTime)
                            </td>
                            <td class="userThumbnail">
                                <a href="@Html.DisplayFor(model => Model.ChatList[i].ChannelUrl)" target="_blank" rel="noopener noreferrer"><img src="@Html.DisplayFor(model => Model.ChatList[i].ProfileImageUrl)" width="30" height="30" alt="Usersthumbnail"></a>
                                @Html.DisplayFor(model => Model.ChatList[i].DspName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => Model.ChatList[i].DspMessage)
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }
        <div style="padding-bottom:50px;padding-top:10px;" class="text-center">
            <button type="button" class="btn" name="back" value="back" onclick="history.back()" style="width:50px;height:50px;color: #668ad8;border: solid 2px #668ad8;">
                戻る
            </button>
            <form method="post" action="/Home/Result" style="display: inline">
                <input type="hidden" name="param" value="@ViewData["postData"]">
                <input type="hidden" name="quantity" value="@ViewData["PostQuantity"]">
                @*<input type="hidden" name="count" value=@ViewBag.count>*@
                <input type="submit" value="再取得" name="param" id="reSearchBtn" style="border-radius:100%; text-align:center; width:60px;height:60px; color: #668ad8;" />
            </form>
            <button type="button" class="btn" name="forward" value="forward" onclick="history.forward()" style="width:50px;height:50px;color: #668ad8;border: solid 2px #668ad8;">
                次へ
            </button>
        </div>
    <div class="loading hide"></div>
</body>
</html>
<script type="text/javascript">
    // ローディング
    $(function () {
        $('#reSearchBtn').on('click', function () {
            $.ajax({
                url: '../../Controller/HomeController.cs',
                type: 'POST',
                beforeSend: function () {
                    $('.loading').removeClass('hide');
                }
            }).done(function () {
                $('.loading').addClass('hide');
            })
        })
    })
    // テーブル内を検索する
    $(function () {
        $('#searchUser').bind('click', function () {
            var re = new RegExp($('#searchTxt').val());
            $('#table tbody tr').each(function () {
                var txt = $(this).find("td:eq(2)").text();
                if (txt.match(re) != null) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        })

        $('#searchComment').bind('click', function () {
            var re = new RegExp($('#searchTxt').val());
            $('#table tbody tr').each(function () {
                var txt = $(this).find("td:eq(3)").text();
                if (txt.match(re) != null) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        })

        $('#clear').bind('click', function () {
            $('#table tbody tr').each(function () {
                $(this).show();
            })
        })
    })

    $(function () {
        $('#clear').click(function () {
            $(document).find('#searchTxt').val('');
        });
    });
    //// デフォルトの設定を変更
    //$.extend($.fn.dataTable.defaults, {
    //    language: {
    //        url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
    //    }
    //});
    //// ソート
    //$('#table').DataTable({
    //    lengthChange: false,
    //    info: false
    //});
</script>