@model WebApplication1.Models.LiveChatModelList

@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style type="text/css">
        .loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,.5);
            background-image: url('https://user-images.githubusercontent.com/46675984/123852276-14d7c800-d957-11eb-88f4-515d290b6597.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            background-size: 100px 100px;
            z-index: 9999;
        }
        .search_frame {
            position: relative;
            display: inline-block;
        }
        .search_frame .search_clear {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 2px;
            top: 5px;
            background-image: url(https://user-images.githubusercontent.com/46675984/124994073-400d9600-e080-11eb-937a-45449a26c712.png);
            background-repeat: no-repeat;
            background-position: right;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <br /><br /><br />
    <div class="center-block font-google">
        <center>
            <h1 style="font-size:70px">YouTubeのコメントを取得する</h1>
        </center>
    </div>
    <br><br><br><br>
    <div class="center-block">
        <form method="post" action="/Home/Search">
            <div class="text-center">
                <div class="search_frame">
                    <input type="text" maxlength="25" name="param" value="@ViewData["SEARCH_ID"]" id="searchtext" />
                    <div class="search_clear" onclick="ClearButton_click()"></div>
                </div>
                <input type="submit" value="取得" id="cmtButton" style="border-radius:100%; text-align:center; width:60px;height:60px;" />
            </div>
        </form>
        <br><br><br><br>
        @if (ViewData["display_mode"].ToString() == "POST")
        {
            <div class="display_mode">
                <div>
                    <span>テーブルを検索</span>
                </div>
                <div>
                    <span>
                        <input type="text" id="searchTxt" placeholder="キーワード入力" />
                    </span>
                    <span>
                        <input type="button" id="searchUser" value="ユーザー検索" />
                    </span>
                    @*<span>
                            <input type="button" id="searchParentChild" value="返信ユーザーごと検索" />
                        </span>*@
                    <span>
                        <input type="button" id="searchComment" value="コメント検索" />
                    </span>
                    <span>
                        <input type="button" id="clear" value="クリア" />
                    </span>
                </div>
                <div class="table-responsive">
                    <table border="1" class="table table-striped table-condensed" id="table">
                        <thead>
                            <tr class="bg-primary">
                                <th>#No.</th>
                                <th>ユーザ名</th>
                                <th>いいね数</th>
                                <th>コメント</th>
                            </tr>
                        </thead>
                        @try
                        {
                            if (Model.ChatList != null)
                            {
                                for (int i = 0; i < Model.ChatList.Count(); i++)
                                {
                                    int count = i + 1;
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => count)
                                            </td>
                                            <td class="userThumbnail">
                                                @if (Model.ChatList[i].IsChild)
                                                {
                                                    <p id="commentId" style="display:none">@Model.ChatList[i].ParentId</p>
                                                    @:<font style="color:chartreuse">(返信)</font>
                                                    <a href="@Html.DisplayFor(model => Model.ChatList[i].ChannelUrl)" target="_blank" rel="noopener noreferrer"><img src="@Html.DisplayFor(model => Model.ChatList[i].ProfileImageUrl)" width="30" height="30" alt="Usersthumbnail"></a>
                                                    @Html.DisplayFor(model => Model.ChatList[i].DspName)
                                                }
                                                else
                                                {
                                                    <p id="commentId" style="display:none">@Model.ChatList[i].Id</p>
                                                    <a href="@Html.DisplayFor(model => Model.ChatList[i].ChannelUrl)" target="_blank" rel="noopener noreferrer"><img src="@Html.DisplayFor(model => Model.ChatList[i].ProfileImageUrl)" width="30" height="30" alt="Usersthumbnail"></a>
                                                    @Html.DisplayFor(model => Model.ChatList[i].DspName)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.ChatList[i].LikeCount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => Model.ChatList[i].DspMessage)
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                        catch (Exception e)
                        {
                            Console.Write(e.Message);
                        }


                    </table>
                </div>
            </div>
        }
    </div>
    <div class="loading hide"></div>
</body>
</html>
<script type="text/javascript">
    // ローディング
    $(function () {
        $('#cmtButton').on('click', function () {
            $.ajax({
                url: '../../Controller/HomeController.cs',
                type: 'POST',
                beforeSend: function () {
                    $('.loading').removeClass('hide');
                }
            }).done(function () {
                $('.loading').addClass('hide');
            })
        })
    })

    $(function (){
        $('.search_clear').click(function () {
            $(document).find('#searchtext').val('');
        });
    })

    // テーブル内を検索する
    $(function () {
        $('#searchUser').bind('click', function () {
            var re = new RegExp($('#searchTxt').val());
            $('#table tbody tr').each(function () {
                var txt = $(this).find("td:eq(1)").text();
                if (txt.match(re) != null) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        })

        $('#searchComment').bind('click', function () {
            var re = new RegExp($('#searchTxt').val());
            $('#table tbody tr').each(function () {
                var txt = $(this).find("td:eq(3)").text();
                if (txt.match(re) != null) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            })
        })

        $('#clear').bind('click', function () {
            $('#table tbody tr').each(function () {
                $(this).show();
            })
        })
    })

    $(function () {
        $('#clear').click(function () {
            $(document).find('#searchTxt').val('');
        });
    });
</script>
